body {
    font: 20px Arial;
    color: black;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

